@import "mixins";
.top_header {
    padding: 1rem;
    width: 100%;
    background: $top_header-background-color;
    background: linear-gradient(180deg, $linear-primary-color 0%, $linear-secondary-color 47%, $linear-tertiary-color 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        position: relative;
        select {
            padding: .43rem;
            background-color: rgb(218, 218, 218);
            border-top-left-radius: 3%;
            border-bottom-left-radius: 3%;
        }
        input {
            padding: .5rem;
            margin-left: -0.3rem;
            width: 15.3rem;
            padding-right: 2rem;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-color: white;
            border-style: none;
            &:focus{
                outline: none;
            }
        }
        .input-group {
            position: relative;
            margin: auto;
            width: 240px;
        }
        .material-icons {
            color: #000;
            // transform: translateY(-120%) translateX(440%); 
            position: absolute;
            right: 2%;
            bottom: 7%;
        }
    
    }
}
.list_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
    .list_menu_items {
        list-style: none;
        margin-right: 1.5rem;
        a {
            color: white;
        }
    }
}
@include media-md {
    .list_menu {
        margin-right: 10rem;
        justify-content: end;
        flex-direction: row;
    }
    .top_header {
        display: flex;
        flex-direction: row;
        display: block;
        form {
            .input-group {
                width: 360px;
            }
        }
    }
    
}
