$body-color: #fff;
$primary-color: #333;
$linear-primary-color: #303131;
$linear-secondary-color: #636666;
$linear-tertiary-color: rgb(150, 150, 150);
$aside-menu-color: #ffc767;
$linear-primary-triangle-color: #ff8809;
$linear-secondary-triangle-color: #ffc301;
$footer-form-background-color: #3d3d3d;
$footer-form-button-color: #ffd105;
$top_header-background-color: rgb(41,41,41);